body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#register, #payment {
    background-color: #1d1d1dea;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 350px;  /* Increase width */
    max-height: 80vh; /* Limit max height */
    overflow-y: auto; /* Add vertical scrollbar */
}

.business-logo {
    width: 200px; /* Adjust width of the logo */
    height: auto;
    margin-bottom: 20px;
}

#itemContainer, #itemList, #billList {
    margin: 10px 0;
    max-height: calc(6 * 40px); /* Set max height for 6 items (each item approx 40px in height) */
    overflow-y: auto; /* Add vertical scrollbar when exceeding max height */
}

/* Custom Scrollbar Styles */
#itemContainer::-webkit-scrollbar, #itemList::-webkit-scrollbar, #billList::-webkit-scrollbar {
    width: 4px;
}

#itemContainer::-webkit-scrollbar-thumb, #itemList::-webkit-scrollbar-thumb, #billList::-webkit-scrollbar-thumb {
    background-color: #555555ad;
    border-radius: 10px;
}

#itemContainer::-webkit-scrollbar-track, #itemList::-webkit-scrollbar-track, #billList::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 10px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button.item {
    background-color: #ffffff11;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Add space between the image and text */
    width: 95%;  /* Make the button take full width */
}

.item-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.button.confirm {
    background-color: #12a34a;
    color: white;
    width: 100%; /* Make the confirm button wider */
}

.button.pay {
    background-color: #007bff;
    color: white;
}

.button.cancel {
    background-color: #dc3545;
    color: white;
}

.button:hover {
    opacity: 0.8;
}

.billItem {
    background-color: #ffffff11;
    padding: 10px;
    margin: 10px 0;  /* Increase margin for better spacing */
    border-radius: 5px;
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    align-items: flex-start;  /* Align text to the left */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.billItem p {
    margin: 0 0 10px;  /* Add margin below the text */
}

.billItem .button {
    width: 100%;  /* Make buttons full width */
    margin: 5px 0;  /* Add margin for spacing between buttons */
}

.no-bills {
    text-align: center;
    margin: 20px 0;
}
